<div class="Footer bg-light-surface-1 dark:bg-dark-surface-1 border-t-[1px] border-light-surface-3 dark:border-dark-surface-3" id="new-footer">
</div>

<script type="module">
  import { renderFooter } from "footer";

  const container = document.getElementById("new-footer");

  const settings = {{json settings}};

  // Handles data for the footer. If you would like to update any data within footer, adjust it here.
  const footerPageData = {
    footerGithubLink: 'https://github.com/Uniswap',
    footerXLink: 'https://x.com/Uniswap',
    footerDiscordLink: 'https://discord.com/invite/uniswap',
    footerLinksSupport: [
      {
        name: 'Frequently Asked Questions',
        url: '/hc/en-us/categories/32172688959117-Frequently-Asked-Questions',
      },
      {
        name: 'Getting Started Guides',
        url: '/hc/en-us/categories/32174051347341-Getting-Started-Guides',
      },
      {
        name: 'Uniswap Wallet',
        url: '/hc/en-us/categories/11301970439565-Uniswap-Wallet',
      },
      {
        name: 'Uniswap Extension',
        url: '/hc/en-us/categories/25219141467405-Uniswap-Extension',
      },
      {
        name: 'Sending and Swapping',
        url: '/hc/en-us/categories/32352201739021-Sending-and-Swapping',
      },
      {
        name: 'Deep Dives and Troubleshooting',
        url: '/hc/en-us/categories/32174144727565-Deep-Dives-and-Troubleshooting',
      },
      {
        name: 'Crypto Security and Scams',
        url: '/hc/en-us/categories/32456997609229-Crypto-Security-and-Scams',
      },
      {
        name: 'General',
        url: '/hc/en-us/categories/5685161551629-General',
      },
    ],
    footerLinksHelp: [
      {
        name: 'Help Center',
        url: '/',
      },
      {
        name: 'Contact Us',
        url: '/requests/new',
      },
    ],
    footerLinksCompany: [
      {
        name: 'Careers',
        url: 'https://boards.greenhouse.io/uniswaplabs',
      },
      {
        name: 'Brand Assets',
        url: 'https://github.com/Uniswap/brand-assets/raw/main/Uniswap%20Brand%20Assets.zip',
      },
      {
        name: 'Terms of Service',
        url: '/articles/30935100859661-Uniswap-Labs-Terms-of-Service',
      },
      {
        name: 'Privacy Policy',
        url: '/articles/30934457771405-Uniswap-Labs-Privacy-Policy',
      },
      {
        name: 'Trademark Policy',
        url: '/articles/30934762216973-Uniswap-Labs-Trademark-Guidelines',
      },
    ],
    footerLinksEcosystem: [
      {
        name: 'Uniswap App',
        url: 'https://app.uniswap.org/',
      },
      {
        name: 'Governance',
        url: 'https://www.uniswapfoundation.org/governance',
      },
      {
        name: 'Blog',
        url: 'https://blog.uniswap.org/',
      },
    ]
  }

  // Make sure arguments are correctly typed. 
  renderFooter(settings, footerPageData, container);
</script>