<div class="Homepage flex flex-row bg-light-surface-1 dark:bg-dark-surface-1">
  <div class="min-w-[15rem] max-w-[15rem] hidden md:block border-2 mt-nav-h">sidenav placeholder</div>
  <div id="new-homepage"></div>
</div>

<script type="module">
  import { renderHomepage } from "homepage";

  const container = document.getElementById("new-homepage");

  const settings = {{json settings}};

  // Handles data for the homepage. If you would like to update any data within homepage, adjust it here.
  const homepageData = {
    heros: [{
      headerLine1: 'Need help?',
      headerLine2: 'We got you.',
    }, {
      headerLine1: 'No problem too big.',
      headerLine2: 'We’re here to help.',
    }],
    coloredCardsBlock: {
      cards: [
        {
          icon: 'graduationCap', 
          title: 'Read FAQs',
          description: 'Get more information on basic terms and how the Uniswap app works',
          color: 'pink',
          url: '/hc/en-us/requests/new',
        },
        {
          icon: 'lightbulb', 
          title: 'How to use Uniswap',
          description: 'Get more information on basic terms and how the Uniswap web app works',
          color: 'green',
          url: '/hc/en-us/requests/new',
        },
        {
          icon: 'helpCircle', 
          title: 'Troubleshoot an issue',
          description: 'Explore our guides for help troubleshooting issues',
          color: 'blue',
          url: '/hc/en-us/requests/new',
        },
        {
          icon: 'messageQuestion', 
          title: 'Submit a Request',
          description: 'If you’re having trouble you can contact our helpful team',
          color: 'orange',
          url: '/hc/en-us/requests/new',
        }
      ],
    },
    faqBlock: {
      articles: [
        {
          title: 'What are token warnings?',
          description: 'We at Uniswap Labs want to help you safely browse and discover tokens and make informed decisions about them. That’s why we introduced Token Warnings.',
          url: '/hc/en-us/articles/8723118437133-What-are-token-warnings',
        },
        {
          title: 'What is a network cost?',
          description: 'The specific token required to cover these fees varies depending on the network being used.',
          url: '/hc/en-us/articles/8370337377805-What-is-a-network-cost',
        },
        {
          title: 'What is an approval transaction?',
          description: 'The first time you swap or add liquidity, you have to approve the token to be swapped. This gives the Uniswap Protocol permission to swap that token from your wallet.',
          url: '/hc/en-us/articles/8120520483085-What-is-an-approval-transaction',
        },
        {
          title: 'Networks on Uniswap',
          description: 'The Uniswap interfaces support the following Networks:',
          url: '/hc/en-us/articles/14569415293325-Networks-on-Uniswap',
        },
        {
          title: 'Why did my transaction fail?',
          description: 'There are several reasons why a transaction can fail when using Uniswap.',
          url: '/hc/en-us/articles/8643975058829-Why-did-my-transaction-fail',
        },
        {
          title: 'How to swap tokens with the Uniswap Web app',
          description: 'To swap tokens on Uniswap follow these steps:',
          url: '/hc/en-us/articles/8370549680909-How-to-swap-tokens-with-the-Uniswap-Web-app',
        },
      ]
    },
    guidesBlock: {
      promotedArticles: {{json promoted_articles}}
    },
    topicsBlock: {
      categories: {{json categories}}
    },
    connectBlock: {
      title: 'Connect with us',
      supportTitle: 'Get Support',
      supportButton: {
        url: 'https://help.uniswap.org/',
        name: 'Help center',
      },
      socialTitle: 'Insights and news from the team',
      socialButton: {
        url: 'https://blog.uniswap.org/',
        name: 'Help center',
      },
      newsletterTitle: 'Sign up for research and updates from the Uniswap Labs team',
    },
  }

  // Make sure arguments are correctly typed. 
  renderHomepage(settings, homepageData, container);
</script>