@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../assets/types.css';

.site-max-width {
  max-width: 1440px;
}

.default-grid {
  @apply grid grid-cols-4 gap-gap-large sm:grid-cols-8;
}

.page-wrapper {
  @apply w-full p-margin-mobile pb-margin-web sm:px-margin-web sm:pb-[7.5rem] mt-nav-h;
}

.divider {
  @apply border-t-[1px] border-light-surface-3 dark:border-dark-surface-3 my-1.5 w-full;
}

.ArticlePage {
  .article-body {
    @apply text-light-neutral-1 dark:text-dark-neutral-1;

    h2 {
      @apply heading-2 mt-margin-mobile first:mt-0 mb-5 text-left;
    }

    h3 {
      @apply heading-3 mt-margin-mobile first:mt-0 mb-5 text-left;
    }

    h4 {
      @apply heading-4 mt-margin-mobile first:mt-0 mb-5 text-left;
    }

    h5 {
      @apply subheading-1 mt-margin-mobile first:mt-0 mb-5 text-left;
    }

    h6 {
      @apply subheading-2 mt-margin-mobile first:mt-0 mb-5 text-left;
    }

    p {
      @apply body-2;
    }

    a {
      @apply break-words !underline !decoration-2 !underline-offset-4 !transition-all hover:!decoration-light-neutral-2 dark:hover:!decoration-dark-neutral-2;
      font: inherit;
    }

    a > span {
      @apply !border-none;
    }

    img {
      @apply rounded-small my-5;
    }

    ol {
      @apply list-decimal list-inside my-5 first:mt-0;
    }

    ul {
      @apply list-disc list-inside my-5 first:mt-0;
    }

    li {
      @apply body-2;

      > ol,
      ul {
        @apply mt-2 ml-4;
      }

      > p {
        @apply inline;
      }
    }

    table,
    th,
    td {
      @apply table-fixed border border-light-neutral-3 border-collapse dark:border-dark-neutral-3 w-full my-5 first:mt-0;
    }

    th,
    td {
      @apply p-margin-mobile-dense body-2;

      p,
      span {
        @apply body-2;
      }
    }
  }

  .article-info-bottom {
    .article-votes,
    .article-votes-controls {
      @apply flex flex-row items-center;

      button {
        @apply transition hover:text-light-neutral-2 hover:dark:text-dark-neutral-2;
      }
    }

    .article-votes-question,
    .article-vote,
    .article-vote-divider {
      @apply button-label-4 text-light-neutral-1 dark:text-dark-neutral-1;
    }

    .article-vote-divider {
      @apply mx-padding-x-small;
    }

    .article-votes-question {
      @apply mr-margin-extension;
    }

    .article-updated-text {
      @apply button-label-4 text-light-neutral-2 dark:text-dark-neutral-2;
    }
  }
  .related-articles {
    @apply pt-margin-mobile sm:pt-padding-x-large;
    .related-articles-title {
      @apply heading-3 text-light-neutral-1 dark:text-dark-neutral-1;
    }

    ul {
      @apply mt-padding-medium sm:mt-margin-mobile gap-y-4 grid grid-cols-4 gap-gap-large sm:grid-cols-6;

      li:not(:first-child, :nth-child(2)) {
        @apply hidden;
      }

      li {
        @apply relative flex col-span-4 sm:col-span-3 rounded-[1.25rem] bg-light-accent-2 dark:bg-dark-accent-2 max-h-[7.5rem];

        &:before {
          @apply top-padding-medium left-padding-medium dark:hidden;
          display: block;
          position: absolute;
          content: '';
          background-image: var(--book-asset-path);
          background-size: 1.5rem 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
          z-index: 10;
        }

        &:after {
          @apply top-padding-medium left-padding-medium hidden dark:block;
          position: absolute;
          content: '';
          background-image: var(--book-asset-path-dark);
          background-size: 1.5rem 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
          z-index: 10;
        }

        a {
          @apply relative body-2 text-light-accent-1 dark:text-dark-accent-1 p-padding-medium pt-20 rounded-[1.25rem] w-full h-full flex items-end;

          &:before {
            @apply top-padding-medium right-padding-medium dark:hidden transition opacity-0;
            display: block;
            position: absolute;
            content: '';
            background-image: var(--right-arrow-path);
            background-size: 1.5rem 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
          }

          &:hover:before {
            @apply opacity-100;
          }

          &:after {
            @apply top-padding-medium right-padding-medium hidden dark:block transition opacity-0;
            position: absolute;
            content: '';
            background-image: var(--right-arrow-path-dark);
            background-size: 1.5rem 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
          }

          &:hover:after {
            @apply opacity-100;
          }
        }
      }
    }
  }

  .article-content-nav {
    a {
      @apply body-3 text-light-neutral-2 dark:text-dark-neutral-2 transition hover:text-light-neutral-1 dark:hover:text-dark-neutral-1;
    }
  }
}

.CategoryPage,
.SectionPage {
  .article-list-item {
    @apply col-span-4;

    a {
      @apply relative body-2;

      &:before {
        @apply top-gap-medium right-gap-large dark:hidden transition opacity-0;
        display: block;
        position: absolute;
        content: '';
        background-image: var(--right-arrow-path-dark);
        background-size: 1.5rem 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
      }

      &:hover:before {
        @apply opacity-100;
      }

      &:after {
        @apply top-gap-medium right-gap-large hidden dark:block transition opacity-0;
        position: absolute;
        content: '';
        background-image: url('../assets/right-arrow-dark.svg');
        background-size: 1.5rem 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  .see-all-articles-button {
    @apply mt-4;
  }
}

html:has(.ArticlePage) {
  scroll-behavior: smooth;
  scroll-padding-top: 90px !important;
}

.accordion-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}

.accordion-body-active {
  grid-template-rows: 1fr;
}

#new-side-nav {
  > div {
    height: 100%;
  }
}

.ck.ck-editor__main > .ck-editor__editable,
.ck.ck-toolbar {
  @apply !bg-light-surface-3 dark:!bg-dark-surface-3 !border-0;
}

.ck.ck-editor__main > .ck-editor__editable {
  @apply !rounded-xl;
}

.ck.ck-toolbar {
  @apply !hidden;
}

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  @apply !border-0;
}

:not(.ck.ck-content p) .ck.ck-content p {
  @apply !body-3 dark:!text-dark-neutral-2 !text-light-neutral-2;
}

:not(.ck.ck-content p) .ck.ck-content.ck-focused p,
:not(.ck.ck-content p) .ck.ck-content.ck-blurred p {
  @apply !body-3 !text-light-neutral-1 dark:!text-dark-neutral-1;
}

.custom-hint {
  @apply !body-3 dark:!text-dark-neutral-2 !text-light-neutral-2;
}

.custom-title {
  @apply !heading-3 dark:!text-dark-neutral-1 !text-light-neutral-1;
}

.custom-form-field-layout {
  @apply flex flex-col space-y-3;
}

.custom-input {
  @apply !bg-light-surface-3 dark:!bg-dark-surface-3 !border-0 !rounded-xl !py-3 !px-4 !body-3 dark:!text-dark-neutral-1 !text-light-neutral-1 placeholder:dark:!text-dark-neutral-2 placeholder:!text-light-neutral-2 placeholder:!body-3 active:!text-light-neutral-1 active:dark:!text-dark-neutral-1 focus-visible:!text-light-neutral-1 focus-visible:dark:!text-dark-neutral-1;
}

.custom-combobox > div:first-child {
  @apply !border-0 !bg-light-surface-3 dark:!bg-dark-surface-3 !rounded-xl !py-3 !px-4 !body-3 placeholder:!body-3 dark:!text-dark-neutral-1 !text-light-neutral-1 placeholder:dark:!text-dark-neutral-2 placeholder:!text-light-neutral-2 !max-h-none !h-auto;
}

.custom-combobox > div:nth-child(2) {
  @apply !bg-light-surface-1 dark:!bg-dark-surface-1 !rounded-t-none !body-3;
  ul {
    @apply !shadow-none !body-3 !border-0 !bg-light-surface-3 dark:!bg-dark-surface-3 !p-0 !rounded-xl;
    li {
      @apply hover:!bg-light-surface-3-hovered hover:dark:!bg-dark-surface-3-hovered hover:!border-0 hover:!shadow-none !flex !flex-row !space-x-3 !justify-center;
    }
    li {
      svg {
        @apply !fill-none dark:!text-dark-neutral-1 !text-light-neutral-1 !mt-2;
      }
      div {
        @apply !my-2 dark:!text-dark-neutral-1 !text-light-neutral-1 !body-3 hover:!border-0 hover:!border-transparent;
      }
    }
  }
}

.custom-combobox > div > div > div > div {
  @apply !my-0;
}

.custom-combobox div:not(:has(svg)) > span {
  @apply !body-3 dark:!text-dark-neutral-2 !text-light-neutral-2;
}

.custom-combobox div:has(svg) > span {
  @apply !body-3 placeholder:dark:!text-dark-neutral-2 placeholder:!text-light-neutral-2 dark:!text-dark-neutral-1 !text-light-neutral-1;
}

.custom-submit-button {
  @apply !bg-light-accent-1 dark:!bg-dark-accent-1 !rounded-xl !py-4 !px-4 md:!w-[16.75rem] !button-label-2 !text-white !w-full;
}

.ck.ck-editor__editable_inline {
  @apply !px-3;
}

.search {
  @apply w-full grow;
  input {
    @apply !body-3 !bg-transparent w-full focus-visible:!border-none focus-visible:!outline-none dark:text-dark-neutral-2 text-light-neutral-2;
  }
}

.search-bar-container:has(input[aria-expanded='true']) {
  @apply focus-within:!rounded-b-none focus-within:!rounded-t-xl;
}

.filters-in-section {
  @apply flex flex-col space-y-6;
  .sidenav-item {
    @apply !body-3 dark:text-dark-neutral-1 text-light-neutral-1 hover:text-light-accent-1 dark:hover:text-dark-accent-1;
  }
}

.search-result-description {
  em {
    @apply bg-search-highlight dark:bg-light-pink-vibrant !p-px !not-italic;
  }
}

zd-autocomplete {
  @apply !body-3 !bg-light-surface-1 dark:!bg-dark-surface-1 !text-light-neutral-1 dark:!text-dark-neutral-1 md:!w-[25rem] !-ml-[3.25rem] md:!-ml-[3.032rem] !rounded-b-xl !shadow-none !border !border-light-surface-3 dark:!border-dark-surface-3;
}

zd-autocomplete-header {
  @apply !body-3 !text-light-neutral-2 dark:!text-dark-neutral-2 !bg-light-surface-1 dark:!bg-dark-surface-1 !text-left !border-b !border-b-light-surface-3 dark:!border-b-dark-surface-3;
}

zd-autocomplete-multibrand {
  @apply !bg-light-surface-1 dark:!bg-dark-surface-1 hover:!bg-light-surface-1-hovered dark:hover:!bg-dark-surface-1-hovered !border-b !border-b-light-surface-3 dark:!border-b-dark-surface-3;
}

zd-autocomplete-title-multibrand,
zd-autocomplete-breadcrumbs-multibrand {
  @apply !body-3 !text-light-neutral-1 dark:!text-dark-neutral-1;

  em {
    @apply !text-light-neutral-1 dark:!text-dark-neutral-1 !bg-search-highlight dark:!bg-dark-pink-vibrant;
  }
}

zd-autocomplete-breadcrumbs-multibrand {
  @apply !body-4 !text-light-neutral-2 dark:!text-dark-neutral-2;
}

.form-field svg {
  @apply !hidden;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL();
  cursor: pointer;
}

iframe#launcher {
  @apply !z-50;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ArticleBreadcrumbs::-webkit-scrollbar,
.SideNav > div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ArticleBreadcrumbs,
.SideNav > div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#new-article-breadcrumbs > div {
  @apply relative;
}
